:root {
	--base-color: #D9FFFF;
	--text-color: #D9FFFF;
}

body {
	font-family: 'Play', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000000;
  color: var(--base-color);
  margin: 0 auto;
  box-sizing: border-box;
  height: 1vh;
  width: 100%;
  /*max-width: 900px;*/
}

.app {
	/*background: #880000;*/
	width: 100%;
	height: 100%;
}

header {
	width: 100%;
	height: 100%;
}

.navbar-background {
	background: rgba(10, 10, 10, 0.2);
}

.navbar-body {
	display: flex;
	background: rgba(30, 30, 30, 1);
	border-bottom: 2px solid var(--base-color);
}

.button-base {
	background: #000000;
	font-size: 20px;
	border: 2px solid var(--base-color);
	display: inline-block;
	cursor: pointer;
	margin: 10px;
	padding: 5px 10px 5px 10px;
}

.button-octagon {
	background: #000000;
	font-size: 20px;
	display: inline-block;
	cursor: pointer;
	margin: 10px;
	padding: 5px 10px 5px 10px;
	border: 10px solid var(--base-color);
	border-image: url(/octagon-outline-shape-edit.svg) 20% stretch;
}

.button-octagon-smaller {
	font-size: 14px;
	margin: 10px auto;
	padding: 0 10px;
}

.home-page {
	margin: 20px auto;
	width: 80%;
	max-width: 720px;
	text-align: center;
}

.home-logo-container {
	border: 2px solid var(--base-color);
	border-radius: 5px;
	display: flex;
}

.home-logo-gar {
	width: auto;
	height: 200px;
	margin: 20px 30px 0 0;
	filter: brightness(200%) saturate(20%);
}

.home-logo-text {
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.home-page h1 {
	font-size: 44px;
	margin: 10px 0 10px 0;
}

.home-logo-text-divider {
	width: 90%;
	height: 2px;
	background: var(--base-color);
}

.home-page h3 {
	width: 80%;
	font-size: 18px;
}

.home-page > .button-octagon {
	margin: 30px;
}

.home-dotd-header {
	width: 100%;
	border-top: 2px solid var(--base-color);
	border-bottom: 2px solid var(--base-color);
	font-size: 30px;
	padding: 10px 0 10px 0;
	margin-bottom: 30px;
}

.inventory-line-item {
	/*display: grid;
	grid-template-columns: 250px 200px auto;*/
	display: flex;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.inventory-line-item-clickable {
	cursor: pointer;
}

.inventory-line-item-border {
	border-bottom: 1px solid var(--base-color);
}

.inventory-line-item-image {
	width: 250px;
	height: 150px;
	/*height: auto;*/
	/*max-height: 200px;*/
	object-fit: contain;
	grid-column: 1;
	/*background: #00FF00;*/
}

.inventory-line-item-cost-container {
	grid-column: 2;
	/*background: #0000FF;*/
	width: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.inventory-line-item-cost-old {
	text-decoration: line-through;
}

.inventory-line-item-cost-current {
	font-weight: 700;
}

.inventory-line-item-details {
	grid-column: 3;
	flex-grow: 1;
	/*background: #FF0000;*/
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}

.inventory-line-item-details-header {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 5px;
}

.inventory-line-item-detail {
	font-size: 12px;
	border-bottom: 1px solid var(--base-color);
	display: flex;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.inventory-line-item-detail-left {

}

.inventory-line-item-detail-middle {
	flex-grow: 1;
}

.inventory-line-item-detail-right {

}

.shift-flex-right {
	order: 1;
}

.browse-page {
	margin: 10px auto;
	width: 90%;
	display: flex;
	/*display: grid;
	grid-template-columns: auto 70%*/
}

.filters-container {
	/*border: 1px solid var(--base-color);*/
	flex-grow: 1;
	/*grid-column: 1;*/
}

.filters-container h3 {
	font-size: 24px;
	margin-bottom: -10px;
}

.filters-container-section h4 {
	font-size: 20px;
	margin-bottom: 10px;
}

.check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
}

.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 23px;
  width: 23px;
  background-color: #272727;
}

/* On mouse-over, add a grey background color */
/*.check-container:hover input ~ .checkmark {
  background-color: #17282b;
}*/

/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
  background-color: var(--base-color);
}